<h1>Restaurants</h1>
<div class="mt-5 p-3">
  <ul>
    <li><strong>Name:</strong> <%= @restaurant.name %> </li>
    <li><strong>Address:</strong> <%= @restaurant.address %> </li>
    <li><strong>Phone Number:</strong><%= @restaurant.phone %> </li>
    <li><strong>Rating:</strong> <%= @restaurant.rating %> </li>
</ul>
</div>
